* {
    margin: 10;
    padding: 0;
    background-color: #5e8eae;
}

body {
    font-family: 'Work Sans', sans-serif;
    font: #000000;
}

.topnav {
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 18px 40px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0454aa;
  color: white;
}

#tittelTekst {
    text-align: center;
    padding: 0px;
    padding: 18px 40px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:rgb(72, 122, 122);
    color: white;
  }

#tittel {
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 100px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color:#0454aa;
}

#undertittel {
  color: #ddd;
  margin-top: 10px;
}